@font-face {
    font-family: "OpenSans" ;
    src: url("../others/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: "OpenItalic" ;
    src: url("../others/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

$font1: "OpenSans";
$font2: "OpenItalic";
$white: rgb(242, 234, 234);
$black: rgb(18, 17, 17);
$grey: rgb(176, 176, 176);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1, sans-serif;
    
    a {
        font-family: $font2, serif;
        color: $white;
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    input[type="submit"] {
        background: transparent;
        border: 2px solid $black;
        padding: 10px 30px;
        border-radius: 3px;
        letter-spacing: 2px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        margin: 15px auto;
        @include center;
        transition: 0.3s ease-in-out;

        @media screen and (max-width: 300px) {

            font-size: .9rem;
            margin-bottom: 10px;
            letter-spacing: 1px;
            padding: 5px 15px;
      }

        &:hover {
            transform: scale(1.1);
            box-shadow: 2px 2px 2px 1px $grey;
        }
    }

    i {
        color: $grey;
        margin: 5px;
    }
}